body {
    background-color: var(--background);
}

header {
    position: fixed;
    top: 55px;
    left: 0;
    height: 100vh;
    overflow-y: scroll;
    background: url(./about.jpg) center center/cover;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 55px;
    height: auto;
    overflow-y: visible;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
}

#about-me {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
a:hover {
    background-color: var(--background);
}

@media screen and (min-width: 769px) {
    .container {
        width: 80%;
    }
    #about-me {
        flex-direction: row;
    }
}