body {
    background-color: var(--background);
}

header {
    position: fixed;
    top: 55px;
    left: 0;
    min-height: 100vh;
    background: url(./about.jpg) center center/cover;
}

.container {
    width: 90%;
    margin: auto;
    padding-top: 55px;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    background-color: var(--main-color);
    padding: 10px;
    border-radius: 5px;
}

a:hover {
    background-color: var(--background);
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
}