main {
    margin-top: 55px;
    /* background-color: var(--background); */
    position: fixed;
    top: 0px;
    left: 0;
    min-height: 100vh;
    background: url(./portfolio.jpg) center center/cover;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.container {
    width: 95%;
    height: 100%;
    margin: auto;
    padding-top: 5px;
    overflow: visible;
}

.card {
    position: relative;
    margin: 32px;
    opacity: 0.9;
    /* background-color: #E9ECEF; */
    background-color: var(--light-color);
}

.come-in {
    transform: translateX(200px);
    animation: come-in 0.8s ease forwards;
}
.come-in:nth-child(odd) {
    transform: translateX(-200px);
    /* animation-duration: 0.6s; So they look staggered */
}

a {
    color: var(--dark-bg);
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}

h1 {
    font-size: 2rem;
} 

h3 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}

ul {
    margin-bottom: 1rem;
}

.screenshots {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.screenshot {
    margin: 10px;
    max-width: 95%;
}

@keyframes come-in {
    to { transform: translateY(0); }
}

@media screen and (min-width: 768px) {
    .container {
        width: 80%;
    }
    p {
        text-align: left;
        line-height: 1.5;
    }
}