:root {
    --main-color: #1392A5;
    --light-color: #F1EDE4;
    --light-bg: #DBC39F;
    --background: #7D9C8C;
    --dark-bg: #144527;
    
}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    height: auto;
}

nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    background-color: var(--main-color);
    color: var(--light-color);
    border-bottom: var(--dark-bg) solid 5px;
    z-index: 100;
}

.nav-brand {
    font-size: 1rem;
    color: var(--light-color);
    text-decoration: none;
    cursor: pointer;
    font-family: inherit;
}

.nav-container {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-link span {
    margin-right: 0.3rem;
}

/* ------------------------ Hamburger Stuff -----------------------*/
/* Hamburger Line */
.hamburger > div {
    content: '';
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
    transition: all 0.4s ease;
  }

  /* Hamburger Lines - Top & Bottom */
.hamburger > div::before,
.hamburger > div::after {
  content: '';
  position: absolute;
  top: -8px;
  width: 100%;
  height: 2px;
  background: inherit;
  color: var(--light-color);
}

/* Moves Line Down */
.hamburger > div::after {
  top: 8px;
}

/* Toggler Animation */
.toggler:checked + .hamburger > div {
    transform: rotate(135deg);
}
  
/* Turns Lines Into X */
.toggler:checked + .hamburger > div:before,
.toggler:checked + .hamburger > div:after {
    top: 0;
    transform: rotate(90deg);
}
  
/* Rotate On Hover When Checked */
.toggler:checked:hover + .hamburger > div {
    transform: rotate(225deg);
}

.toggler {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: 57px;
    height: 57px;
    opacity: 0;
}

.hamburger {
    position: absolute;
    top: 0;
    right: 0;
    width: 57px;
    height: 57px;
    padding: 1rem;
    background: var(--main-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: var(--dark-bg) solid 5px;
}

  /* Show Menu */
.toggler:checked ~ .menu {
    visibility: visible;
}

/* ------------------------- Dropdown menu ------------------------------------ */

.collapse {
    position: absolute;
    display: inline-block;
    right: 0;
    top: 57px;
}
  
.nav {
    visibility: hidden;
    position: absolute;
    right: 0;
    top: -100px;
    background-color: var(--background);
    min-width: 128px;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 2;
    transition: all 0.6s ease-in-out 0.3, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
    margin: 0;
    padding: 0;
}
  
.toggler:checked ~ .collapse .nav {
    visibility: visible;
    top: 0;
}

.nav-item {
    list-style: none;
}

.nav-link {
    color: var(--light-color);
    padding: 12px 16px;
    text-decoration: none;
    display: inline-block;
    text-align: right;
    margin: 0;
    height: 100%;
}

.navlink img {
    height: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: var(--light-color);
    border-radius: 10px;
    padding: 50px;
    margin: 5px;
    opacity: 0.9;
}

.card div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.card div h1 {
    display: inline;
}

.card h1, p {
    padding: 12px 0;
}

p {
    font-size: 1.1rem;
    text-align: center;
}

p.lead {
    font-size: 1.3rem;
}

/* ------------------------------------  desktop -------------------------------------------------------------- */

@media screen and (min-width: 769px) {
    .hamburger {
       visibility: hidden;
    }
    .toggler {
       visibility: hidden;
    }
    .nav-container {
        justify-content: space-between;
    }
    .collapse {
        display: flex;
        position: relative;
        top: auto;
        right: auto;
        z-index: 0;
        width: auto;
    }
    .nav {
        position: relative;
        top: auto;
        right: auto;
        z-index: 0;
        display: flex;
        flex-direction: row;
        visibility: visible;
        background-color: var(--main-color);
    }
    .nav-link {
        padding: 12px;
    }
    .nav-link i {
        display: none;
    }
    .nav-link:hover {
        background-color: var(--background);
    }
    
}

@media screen and (min-width: 928px) {
    .nav-brand {
        font-size: 1.2rem;
    }
    .nav-link i {
        display: inline;
    }
}

@media screen and (min-width: 1024px) {
    .nav-brand {
        font-size: 1.5rem;
    }
}