.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Above CSS came with create-react-app */

.navbar {
  opacity: 0.8;
}
body {
  background-image: url(./img/apple-code-codes-574069.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.App {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.card-header {
  background-color: #2b1e15;
  opacity: 0.9;
  color: white;
}

.jumbotron {
  opacity: 0.8;
  margin-top: 7rem;
}

.navbar .container {
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}

@media screen and (min-width: 816px) {
  .container.full-width {
    padding-left: 0;
    padding-right: 0;
    margin-top: 0;
    margin-left: 4.5rem;
    margin-right: 0;
    overflow-x: hidden;
  }
}
@media screen and (max-width: 815px) {
  .navbar-brand {
    font-size: 1rem;
  }
}

/* @media screen and (max-width: 991px) {
  .navbar .container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    overflow-x: hidden;
  }
  .container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
  .container-fluid.full-width .card {
    margin-left: 15px;
    margin-right: 15px;
  }
} */

@media (min-width: 768px) and (max-width: 1300px) {
  .container-fluid.full-width {
    padding-left: 0;
    padding-right: 0;
    margin-left: 4rem;
    margin-right: 0;
  }
  .container-fluid.full-width .card {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-height: 750px) {
  .row {
    height: auto;
    margin-top: 4.5rem;
    margin-bottom: 1rem;
  }
}

@media (min-height: 751px) {
  .row {
    height: 100vh;
    margin-top: auto;
    margin-bottom: auto;
  }
}
